.voting-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50vh;
  background-color: purple;
  border: none;
  color: white;
}

.voting-button {
  background: transparent;
  border: none;
  color: white;
  font-size: 40px;
  font-family: consolas;
  font-style: italic;
  text-shadow: 2px 3px #3f6ba9;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: black;
  -webkit-text-fill-color: white;
}
